[user]
	name = Wonmin Jung
	email = wonmin82@gmail.com
[credential]
	helper = cache --timeout=7200
[push]
	default = simple
[pull]
	rebase = false
[color]
	ui = auto
[alias]
	tags = !"git tag | xargs -I@ git log --format=format:\"%ai @%n\" -1 @ | sort"
[url "ssh://git@github.com/"]
	insteadOf = git://github.com/
	insteadOf = http://github.com/
	insteadOf = https://github.com/
